<div class="container my-4">
  <h1 class="mb-3">Access</h1>

  <p class="fs-5 mb-3">
    Great job! Now you have your website <%= @login %>.<%= DOMAIN %> powered by Handshake and Github Pages.
  </p>
  <p class="fs-5 mb-3">
    Handshake is a new approach to domain name ownership.
    Major DNS servers like 8.8.8.8 do not support it yet.
  </p>

  <p class="fs-5 mb-4">
    There are several ways to <a href="<%= RESOLVERS_DISCUSSION_URL %>" target="_blank" class="link-primary">access your website</a>.
    Once you are able to open it, get back here and click the button below.
  </p>

  <div class="d-flex justify-content-start">
    <a href="/success" class="btn btn-primary btn-lg mt-3">Continue</a>
  </div>
</div>
