<div class="container my-4">
  <h1 class="mb-3">Success</h1>

  <p class="fs-5 mb-4">
    Hooray! Now you are up and running.
    <a href="https://twitter.com/intent/tweet?text=I've%20just%20claimed%20my%20free%20.git%20domain!%20Get%20yours%20on%20https://git.domains" target="_blank" class="link-primary">Tell</a> your friends about it 😉
  </p>

  <div class="d-flex justify-content-start">
    <a href="<%= CONTINUE_LEARNING_DISCUSSION_URL %>" class="btn btn-primary btn-lg mt-3">Continue</a>
  </div>
</div>
